@font-face {
    font-family: "Rubik-Regular";
    src: url("../fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
    font-family: "Rubik-Medium";
    src: url("../fonts/Rubik-Medium.woff") format("woff");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.woff") format("woff");
}

@font-face {
    font-family: "Bender";
    src: url("../fonts/Bender.woff") format("woff");
}

@font-face {
    font-family: "Bender-Bold";
    src: url("../fonts/Bender-Bold.woff") format("woff");
}

@font-face {
    font-family: "Bender-Black";
    src: url("../fonts/Bender-Black.woff") format("woff");
}