/*шрифты*/
$roboto: "Roboto-Regular";
$rubik: "Rubik-Regular";
$rubik-med: "Rubik-Medium";
$benderReg: "Bender";
$benderBold: "Bender-Bold";
$benderBlack: "Bender-Black";

/*цвета*/
$white: #fff;
$black: #000;
$green: #007B32;
$gray: #292929; 
$red: #E73A42;